doctype html
html
    head
        style
            include style.css
    body
        div
            block content
        div.footer
            | Best regards,
            br
            | Car Shop Team
            br
            a(href=frontendUrl) OUR WEBSITR
